.languageButtons {
  text-align: center;
}

.languageButtons > button.languageButton {
  height: 2.5em;
  margin: 0.25em;
  padding: 0.75em 2.2em;
  text-transform: none;
  background-color: #d8b23a;
  border-radius: 0;
}
